<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BBchat</string>
    <key>CFBundleDisplayName</key>
    <string>BBchat</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconName</key>
    <string>BBchatAppIcon</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>bwchat</string>
            </array>
        </dict>
    </array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1877504503518465~7347579927</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
        <string>audio</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>UILaunchScreen</key>
    <dict/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>BBchat 需要访问相册以保存图片和视频</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>BBchat 需要访问相册以上传和发送图片及视频</string>
    <key>NSCameraUsageDescription</key>
    <string>BBchat 需要使用摄像头进行视频通话</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>BBchat 需要使用麦克风进行语音和视频通话</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>BBchat 会在登录成功和每次打开地图时使用你的精确位置，以更新你在地图上的位置点。</string>
    <key>NSContactsUsageDescription</key>
    <string>BBchat 只读取联系人电话号码并在本机规范化、加盐哈希，用于发现已注册好友；不会上传姓名或原始号码。</string>
    <key>NSUserActivityTypes</key>
    <array>
        <string>INSendMessageIntent</string>
    </array>
</dict>
</plist>
